
@import "landing.css";

html, body {
    margin: 0;
    height: 100%;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
}
  
body {
display: flex;
flex-direction: column;
}

header,
footer {
flex: none;
}

footer {
    margin-top: auto;
}

main {
overflow-y: scroll;
-webkit-overflow-scrolling: touch;
flex: auto;
}

@media screen and (max-width: 900px) and (min-width: 700px) {
    body {
      background-image: url(../assets/fam.jpg);
      background-color: #DAB4B2;
      }

      .search_placeholder {
        display: none;
      }

      h1 {
          font-size: 40px;
      }

      .site_menu {
          display: none;
      }

      .footer_container {
        justify-content: flex-end;
      }
  }

@media screen and (max-width: 700px) and (min-width: 0px) {
    body {
        background: linear-gradient(teal 0%, cadetblue 100%);
    }

    .search_bar {
       display: none; 
    }

    h1 {
        font-size: 40px;
        text-align: center;
    }

    #blurb {
        font-size: 20px;
        padding: 20px;
    }

    .site_menu {
        display: none;
    }

    .footer_container {
        justify-content: center;
    }
}