
@import "landing.css";

html, body {
    margin: 0;
    height: 100%;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
}
  
body {
display: flex;
flex-direction: column;
}

header,
footer {
flex: none;
}

footer {
    margin-top: auto;
}

main {
overflow-y: scroll;
-webkit-overflow-scrolling: touch;
flex: auto;
}

.test {
    display:
}
