
/* nav background and position */
.navbar_container {
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0,.35);
    z-index: 0;   
}

/* logo and search bar */
#logo {
    height: 40px;  
    margin-left: 20px;
    z-index: 2; 
}

.search_bar {
    background-color: whitesmoke;
    opacity: 75%;
    height: 33px;
    width: 605px;
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding: 0px 0px 0px 5px;
    border-radius: 3px;
    color: #6D6C6A;
    align-content: stretch;
    flex-wrap: nowrap;
    align-items: center;
}

.search_placeholder {
    font-size: 13px;
    padding: 0px 0px 0px 10px;
}

/* auth section */
.auth_links {
    display:flex;
    justify-content: space-between;
}

.nav_button {
    opacity: 100%;
    height: 33px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: .03em;

}

#login {
    background-color: transparent;
    color: white;
    
}

#signup {
    background-color: whitesmoke;
    border-radius: 5px;
    color: black;
}